*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Poppins",sans-serif;
 }

body{
    background:#f7f7f7;
    color:#222;
}

/* NAVBAR */
.navbar{
    background:#000;
    color:white;
    padding:20px 50px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.navbar a{
    color:white;
    margin-left:20px;
    text-decoration:none;
    font-size:18px;
}
.navbar a:hover{color:#0ef;}

/* HERO */
.hero{
    text-align:center;
    padding:120px 20px;
    background:white;
}
.hero h1{font-size:48px;font-weight:bold;}
.hero span{color:#007bff;}
.hero p{font-size:20px;margin-top:10px;}
.btn{
    margin-top:20px;
    display:inline-block;
    padding:12px 25px;
    background:black;
    color:white;
    text-decoration:none;
    border-radius:5px;
}

/* SECTIONS */
.section{
    width:90%;
    max-width:900px;
    margin:auto;
    padding:60px 0;
}
.section h2{
    font-size:35px;
    margin-bottom:20px;
}

/* SKILLS GRID */
.skills-grid{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:15px;
}
.skill{
    background:white;
    padding:15px;
    text-align:center;
    border:2px solid #ddd;
    border-radius:5px;
    font-weight:600;
}

/* PROJECT CARDS */
.project-card{
    background:white;
    padding:20px;
    margin-bottom:20px;
    border-left:5px solid #007bff;
    border-radius:5px;
}
.project-card a{
    color:#007bff;
    text-decoration:none;
    font-weight:bold;
    display:inline-block;
    margin-top:10px;
}

/* SERVICES */
.service-box{
    background:white;
    padding:15px;
    margin:10px 0;
    border-left:5px solid #000;
    border-radius:5px;
    font-weight:600;
}

/* CONTACT */
#contact p{
    font-size:18px;
    margin:10px 0;
}

/* FOOTER */
footer{
    background:black;
    color:white;
    padding:20px;
    text-align:center;
    margin-top:40px;
}
